html {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	color:black;
	box-sizing: border-box;
	background-color: white;
}

button {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}



.header {
	display:flex;
	justify-content:space-between;
	padding: 0 40px;
	
}

.leftheader {
	display:flex;

}

.searchsection {
	display:flex;
}

.rightheader {
	display:flex;
	gap:25px;
	align-items:center;
}



.header-logo {
	width: 50px; 
	height: 32px; 
	max-width: 120px;
}

/*next: do animation, with keyframe? then design logo - draw svg online?*/

.headercontactbutton {
	background-color:#9fc7aa;
	color:white;
	border-radius:0.5rem;
	padding: 0.5rem 1.5rem;
	font-weight: 800;
	font-size: 18px;
	display:flex;
	align-items:center;



}

.headercontactbutton:hover {
	color:#9fc7aa;
	background-color:white;

}

.headercontactmailicon {
	width:1rem;
	height:1rem;
	display:inline-block;
	vertical-align:top;
}

.headercontactbtntxt {
	display: inline-block;
    position: relative;
	top:1px;
}


.headercontactbutton:hover .mail-icon-path{
	fill:#9fc7aa;

}
.burgermenu:hover {
	color:#9fc7aa;
}
.icons:hover {
	color:#9fc7aa;
	transform:scale(1.5);
}

.content {
	padding-top:50px;
	display:flex;
	justify-content:center;
	gap:25px;
	flex-wrap: wrap-reverse;
	perspective:1000px;
}


.text-container {
	display:flex;
	flex-direction:column;
	min-width: 350px;
}

.h1-container {
	display:flex;
	font-size:78px;
	justify-content:center;
	
}

.h1-text {
	margin:0;
	padding:0;
}

.h2-text {
	font-size:39px;
	margin:0;
	padding:0;
}

.h3-text {
	display:flex;
	max-width:350px;
	font-size:22px;
}


.h4-icons-container {
	display:flex;
	width:300px;
	font-size:20px;
	text-align:center;
	justify-content:space-between;
}

.h4-icon path {
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay:0s;

}

.h4-icon:hover path{
	fill:#9fc7aa;	
	transform:scale(0.9);
	transform-origin:center;
}

.logo-big {
	
	transition: rotate 300ms ease;
}

.logo-big:hover {
	rotate: x 45deg;
}