* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw 0.4rem;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}

.leftheader {
  display: flex;
}

.searchsection {
  display: flex;
}

.rightheader {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.header-logo {
  width: 3.2rem;
  height: 3.2rem;
}

/*next: do animation, with keyframe? then design logo - draw svg online?*/

.headercontactbutton {
  background-color: #9fc7aa;
  color: white;
  border-radius: 0.8rem;
  padding: 0.8rem 0.4rem;
  font-weight: 800;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headercontactbutton:hover {
  color: #9fc7aa;
  background-color: white;
}

.headercontactmailicon {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  vertical-align: top;
}

.headercontactbtntxt {
  display: inline-block;
  position: relative;
  top: 1px;
}

.headercontactbutton:hover .mail-icon-path {
  fill: #9fc7aa;
}
.burgermenu:hover {
  color: #9fc7aa;
}
.h4-icon:hover {
  color: #9fc7aa;
  transform: scale(1.5);
}

.content {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  align-items: center;
  margin-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.hero-container {
  position: relative;
  overflow: hidden;
  animation: fade-out linear forwards;
  animation-timeline: view(5% 80%);
  align-self: stretch;
}

.hero-container .hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
  z-index: -1;
  animation: fade-in ease-in-out;
  animation-timeline: scroll(root);
}

@keyframes fade-in {
  25% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
}

/* only on the bg-image! z-index and position */

.text-container div {
  z-index: 1;
  position: relative;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.h1-container {
  justify-content: center;
}

.h1-text {
  width: 35vw;
  height: 22vw;
  margin: 0;
  padding: 0;
}

.h2-text {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.h3-text {
  display: flex;
  /* max-width:350px; */
  font-size: 2.4rem;
  max-width: 45ch;
}

.icons {
  display: flex;
  gap: 0.8rem;
  text-align: center;
  justify-content: space-between;
}

.h4-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.h4-icon path {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.h4-icon:hover path {
  fill: #9fc7aa;
  transform: scale(0.9);
  transform-origin: center;
}

.logo-big {
  transition: rotate 300ms ease;
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo-big:hover {
  rotate: x 45deg;
}

.scroll-reveal {
  background-color: black;
  max-width: 50ch;
}

.scroll-reveal span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, #c79fbc, #6fab7f);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}
*/ .scroll-reveal h2 {
  line-height: normal;
}

.scroll-reveal h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.scroll-reveal p span {
  animation-range-start: cover 23.5vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

.portfolio {
  display: flex;
  gap: 2.5vw;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.card {
  width: 25vw;
  height: 25vw;
  outline: 2px solid #9fc7aa;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card img {
  /* width:100%;
	height:auto; */
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-hover {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.25s;
  transform-origin: right;
  width: 50%;
  height: 50px;
  background-color: #9fc7aa;
  z-index: 1;
}
.card:hover .card-hover {
  opacity: 1;
  transform: translateX(0);
}

.card:hover img {
  animation: card-zoom 5s infinite linear alternate;
  /* opacity:0; */
}

@keyframes card-zoom {
  to {
    scale: 1.5;
  }
}

.portfolio-h1 {
  text-align: center;
}

.quote-slider {
  width: 25rem;
  height: 20rem;
  background-color: #9fc7aa;
  border-radius: 2.5rem;
  position: relative;
}

.quote-slider:hover .navigation {
  opacity: 1;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity ease 0.5s;
}

.quote-slider-icons .quote-slider-icon.active {
  background: red;
}

.chevron-left,
.chevron-right {
  z-index: 999;
  width: 1.75rem;
  height: 1.75rem;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 50%;
}

.quote-slider .quote {
  /* z-index:1; */
  position: absolute;
  /* background:red; */
  opacity: 0;
  transform: translateX(125%);
  width: 15rem;
  height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-slider .quote.active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 0.5s, opacity 0.25s;
}

.quote-slider .quote-info {
  position: absolute;
}

.quote-slider-icons {
  z-index: 999;
  width: 5rem;
  height: 1rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.quote-slider-icon {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 100%;
  width: 1rem;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 5rem;
}
