html {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	color:white;
	box-sizing: border-box;
	background-color: black;
}

button {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}



.header {
	display:flex;
	justify-content:space-between;
	padding: 0 40px;
	
}

.leftheader {
	display:flex;

}

.searchsection {
	display:flex;
}

.rightheader {
	display:flex;
	gap:25px;
	align-items:center;
}



.logo {
	width: 120px; 
	height: 20px; 
	max-width: 120px;
}

/*next: do animation, with keyframe? then design logo - draw svg online?*/

.headercontactbutton {
	background-color:red;
	color:white;
	border-radius:0.5rem;
	padding: 0.5rem 1.5rem;
	font-weight: 800;
	font-size: 18px;
	display:flex;
	align-items:center;

}

.headercontactmailicon {
	width:1rem;
	height:1rem;
	display:inline-block;
	vertical-align:top;
}

.headercontactbtntxt {
	display: inline-block;
    position: relative;
	top:1px;
}



.headercontactbutton:hover {
	color:red;
	background-color:white;

}

.headercontactbutton:hover .mail-icon-path{
	fill:red;

}
.burgermenu:hover {
	color:red;
}
.icons:hover {
	color:red;
	transform:scale(1.5);
}

.content {
	padding-top:50px;
	display:flex;
	justify-content:center;
	gap:25px;
}


.text-container {
	display:flex;
	flex-direction:column;
}

.h1-container {
	display:flex;
	font-size:78px;
}

.h1-text {
	margin:0;
	padding:0;
}

.h2-text {
	font-size:39px;
	margin:0;
	padding:0;
}

.h3-text {
	display:flex;
	max-width:350px;
	font-size:22px;
}


.h4-icons-container {
	display:flex;
	width:300px;
	font-size:20px;
	outline:solid red 2px;
	text-align:center;
	justify-content:space-between;
}

/* .h4-icon1:hover path{
	fill:red;	
}

.h4-icon2:hover path{
	fill:red;	
}

.h4-icon3:hover path{
	fill:red;	
} */

.h4-icon:hover path{
	fill:red;	
	transform:scale(0.9);
	transform-origin:center;
}

.logo-big {
	width:750px;
	height:750px;
	background-color:grey;
}